@using BlazorAlarmClock.Client.Components
@using BlazorAlarmClock.Client.Services;
@using Microsoft.AspNetCore.Components.Forms;
@using BlazorAlarmClock.Shared.Models;


@inherits LayoutComponentBase

@inject AlarmServices alarmService
@inject HttpClient Http

<MudThemeProvider @bind-IsDarkMode="@isDarkMode" Theme="theme" />
<MudDialogProvider />
<MudSnackbarProvider />

@*
<main class="main">
    @Body
</main>
*@

<MudLayout>
    <div id="mainPage" class="page">
        <div class="ps-3 navbar navbar-dark" style="z-index:9; position:absolute; float:left">
            <div class="container-fluid">
                <a class="navbar-brand" href=""></a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="@visibility">
            <NavMenu CollapsedMenu=vis IsPopoverOpenChanged="ToggleNavPopover" />
        </div>

        <MudMainContent>

            <MudPopover Open="@isOpen" Fixed="true" AnchorOrigin="Origin.CenterCenter" TransformOrigin="Origin.CenterCenter"
                        Class="col-sm-8 mt-10 h-20 w-55 border-solid border-2 mud-border-ternary">
                <div class="d-flex flex-column ml-12">
                    <MudForm Model="@newAlarm">
                        <div class="p-2" style="background-color:grey; margin-left: -48px">
                            <MudText style="display: flex; justify-content: center; font-size: x-large">Crea un nuovo allarme.</MudText>
                        </div>
                        <div class="mt-12">
                            <MudItem Class=" col-sm-12">
                                <AlarmComponent CurrentAlarm="@newAlarm" IsNewAlarm="true" />
                            </MudItem>

                            <MudItem Class="col-sm-12">
                                <div class="mr-12 mt-12" style="display: flex; justify-content: center;">
                                    <MudFileUpload T="IBrowserFile" Accept=".mp3" FilesChanged="UploadFiles" MaximumFileCount="1" >
                                        <ButtonTemplate>
                                            <MudButton Style="margin-top:-2px"
                                                HtmlTag="label"
                                                       Variant="Variant.Filled"
                                                       Color="Color.Tertiary"
                                                       StartIcon="@Icons.Material.Filled.CloudUpload"
                                                       for="@context">
                                                Ringtone .mp3
                                            </MudButton>
                                        </ButtonTemplate>
                                    </MudFileUpload>
                                    <MudMenu Class="mt-1 ml-5" Variant="Variant.Filled" Label="@ringtoneName" Dense="true" 
                                            Color="Color.Tertiary">
                                        @foreach (var ringtone in alarmService.RingtonesList)
                                        {
                                            <MudMenuItem OnClick="@(()=>RingtoneSelected(ringtone))">@ringtone</MudMenuItem>
                                        }
                                    </MudMenu>
                                </div>
                            </MudItem>
                        </div>
                        <MudDivider class="mt-6" Style="color:white; margin-left:-50px"/>
                        <div class="mr-12 mt-6 mb-6" style="display: flex; justify-content: center;">
                            <MudButton Variant="Variant.Filled" Style="width:150px" OnClick="@AddAlarmClosePopover" Class="mb-1 mr-6" Color="Color.Primary">Ok</MudButton>
                            <MudButton Variant="Variant.Filled" Style="width:150px" OnClick="@CancelPopover" Class="mb-1" Color="Color.Error">Cancel</MudButton>
                        </div>
                    </MudForm>
                </div>
            </MudPopover>
            @Body
        </MudMainContent>
    </div>
</MudLayout>

@code {


}