@using DateTimeComponent.Models;
@using MudBlazor
@inject HttpClient Http
@inject IHttpClientFactory httpClientFactory
@inject SystemWatch SystemWatch
@inject IJSRuntime JsRuntime

@implements IAsyncDisposable

@if (@MeteoPack == null)
{
    <h1>--</h1>
}
else
{
    <MudCard Style="background-color:transparent">
@*        <MudCardContent Class="d-flex justify-center">
            <MudText Typo="Typo.h5">@MeteoPack.name</MudText>
        </MudCardContent>*@
        <MudCardContent Class="d-flex justify-center">
            <MudImage Src="@WeatherIcon" Height="@GetImageHeight()" Width="@GetImageHeight()" />
        </MudCardContent>
        
        <MudCardContent Class="d-flex justify-center">
            <MudText Typo="Typo.h3" Style="font-weight:900">@GetTemperatureRounded() °C </MudText>
            @*<MudSpacer/>*@
            <MudText Typo="Typo.h5" Class="ml-12">@MeteoPack.name</MudText>
        </MudCardContent>


        @*        <MudCardActions>
    <MudButton Variant="Variant.Text" Color="Color.Primary">Share</MudButton>
    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
    </MudCardActions>*@
    </MudCard>
}
