<div class="@NavMenuCssClass">
    <div class="mt-12">
        <MudNavMenu>
            
            <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Filled.AccessAlarm" OnClick="TogglePopover" Style="text-transform: capitalize;">Set New Alarm</MudButton>
            @*<MudNavLink Href="/" Icon="@Icons.Material.Filled.AccessAlarm">Set New Alarm</MudNavLink>*@
            <MudNavLink Href="/managemusic" Icon="@Icons.Material.Filled.MusicVideo">Manage music</MudNavLink>
        </MudNavMenu>
    </div>
</div>



<MudPopover Open="@isOpen" Fixed="true" Class="px-4 pt-4">
    <div class="d-flex flex-column">
        <MudText>Content of the popover can be anything.</MudText>
        <MudButton OnClick="@TogglePopover" Class="ml-auto mr-n3 mb-1" Color="Color.Error">Close</MudButton>
    </div>
</MudPopover>

@code
{
    bool isOpen;
    private void TogglePopover()
    {
        isOpen = !isOpen;
    }
}
