<div class="@NavMenuCssClass">
    <div class="mt-12">
        <MudNavMenu>
            <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            @*<MudNavLink Icon="@Icons.Material.Filled.AccessAlarm" OnClick="TogglePopover">New Alarm</MudNavLink>*@
            <MudNavLink Icon="@Icons.Material.Filled.AccessAlarm" OnClick="TogglePopover">New Alarm</MudNavLink>
            <MudNavLink Href="/managemusic" Icon="@Icons.Material.Filled.MusicVideo">Manage music</MudNavLink>
        </MudNavMenu>
    </div>
</div>
